/* imports */
@import "./imports/_mixins.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";

body {
  color: #2d3e50;
  font-family: 'AvenirNextCyr';
}

p {
  margin-top: 0;
}

::-webkit-scrollbar { /* for Mac OS X support */
  width: 0;
}

hr {
  margin-bottom: 30px;
}

.row {
  @media @mobile-xs {
    display: block;
  }
}
/* Main grid */

.header {
  height: 100px;
  background-color: #ffffff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 30px 0;
  
  @media @mobiles {
    display: none;
  }
  
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;


  }

  &__item {
    
    position: relative;
    font-size: 14px;
    line-height: 20px;

    
    &--logo {
      padding-left: 55px;
      width: 25%;
      max-width: 270px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        background-image: url('../img/logo.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      @media @tablet {
        width: auto;
      }
    }
    &--callback {
      line-height: 40px;
    }

    &--address {
      padding-left: 55px;
      @media @desktop-xl {
        margin-left: -80px;  
      }
      

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        background-image: url('../img/email.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      @media @tablet {
        display: none;
      }
    }
    
    &--times {
      padding-left: 55px;
      
      @media @desktop-xl {
        margin-left: -100px;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        background-image: url('../img/clock.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      @media @tablet {
        display: none;
      }
    }

    &--callback {
      text-align: right;
    }
  }

  &__phone {

  }

  &__search {
    display: inline-block;

    vertical-align: middle;
  }
}

.footer {
  background-color: #313438;
  padding: 70px 0 40px 0;


  &__copyright {
    font-size: 14px;
    font-weight: 400;
  }
  .container {
    padding: 0 70px;

    @media @mobiles {
      padding: 0 20px;
    }
  }
}


.pull-right {
  float: right;
}

/* Navbar, toggler, nav */

.navbar {
  display: block;
  
  height: 50px;

  background-image: linear-gradient(270deg, #01bea5 0%, #02a9b7 100%);
  
  @media @mobiles {
    height: 62px;
    padding: 20px 0;

    background-image: none;
    background-color: #FFFFFF;
  }

  &--fixed {
    position: fixed;
    top:0;
  }

  &__toggler {
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 2;
  }

  &__phone {

    display: none;

    padding-left: 55px;
    position: relative;
    
    line-height: 22px !important;
    
    &:before {
      content: '';
      position: absolute;
      left: 20px;
      width: 22px;
      height: 20px;
      background-image: url('../img/logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    @media @mobiles {
      display: block;
    }
  }
}

.navbar-toggler {
  display: none;
  
  border: none;
  width: 34px;
  height: 21px;

  cursor: pointer;
  background: 0 0;
  
  float: right;

  
  @media @mobiles {
    display: block;
  }
  
  &__bar {
    background: #2d3e50;
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.nav {
  display: block;
  margin: 0;
  padding: 0;
  
  list-style: none;

  height: 50px;
  
  
  
  @media @mobiles {
    position: absolute;
    left: 0;
    top: 40px;
    max-height: 0;
    height: auto;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    
    z-index: 99;
    background-color: #ffffff;

    width: 100%;
    
    &--active {
      max-height: 500px;
      transition: max-height 0.35s ease-in;
    }
  }

  &--active {
    max-height: 500px;
    transition: max-height 0.35s ease-in;
  }

  &__item {
    position: relative;
    display: inline-block;
    margin-right: 15px;
  
    &--parent {
      padding-right:15px;
      
      transition: transform 0.3s ease;

      &:after {
        content: "";
        position: absolute;
        right: 0px;
        top: 19px;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotateZ(-45deg);
      }

      @media @mobiles {
        &:after {
          content: none;
        }
      }

      @media @desktop {
        margin-right:10px;
      }
    }

    &--active {
      &:after {
        transform: rotateZ(135deg);  
        top: 23px;
      }
      
      .dropdown {
        visibility: visible;
        opacity: 1;
      }
    }
    &--right {
      
      .nav__link {
        display: inline-block;
        margin-right: 15px;
      }

      @media @desktop {
        float:none;
      }

      @media @not-desktop {
        
        display: none;
      }


      
      float: right;
      
    }

    @media @mobiles {
      display: block;
      width: 100%;
      padding-right: 0;
    }
  }

  &__link {
    display: block;
    color:#ffffff;
    font-size: 14px;
    line-height: 50px;
    text-decoration:none;
    
    transition: all 0.3s ease;
    
    &:hover {
      text-decoration: underline;
    }
    @media @mobiles {
      color: #2d3e50;
      padding: 0 15px;

      &:hover {
        color:#ffffff;
        background-color: #01BDA6;
      }
    }
  }
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  left: 0;
  top:50px;

  display: block;
  visibility: hidden;
  opacity: 0;

  min-width: 520px;
  padding: 30px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;


  list-style: none;

  z-index: 2;
  overflow: hidden;
  
  transition: opacity 0.3s ease;
  &__block {
    margin-bottom: 15px;

    &::last-child {
      margin-bottom: 0;
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &__item {
    width: 50%;
    float: left;
  }

  &__title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    margin-bottom: 15px;

    white-space: nowrap;
  }

  &__list {
    display:block;
    list-style: none;
    margin: 0;

    padding: 0;

  }

  &__link {
    color:#000000;
    font-size: 12px;

    font-weight: 200;
    line-height: 26px;

    text-decoration: none;
    white-space: nowrap;
  }

  @media @mobiles {
    display: none;
  }
}

/* LINKS */

.link {
  text-decoration: none;
  position: relative;
  
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width .3s;
  }

  &:hover {
    .link::after {
      width:100%;
    }
  }

  &:hover{

  }

  &--green {
    color:#149aa8;
    border-bottom: 1px dashed #149aa8;
  }
  
  &--grey {
    color: #2d3e50;
    border-bottom: 1px dashed #2d3e50;
  }
  &--bold {
    font-weight: 400;
  }
}


/* breadcrumbs */
.breadcrumbs {
  display: block;
  
  padding: 0;
  margin:0;

  margin-bottom: 45px;
  
  list-style: none;
  &__item {
    position: relative;
    display: inline-block;
    font-size:12px;
    line-height: 16px;
    padding-right: 10px;

    &:after {
      content: '/';
      position: absolute;
      right: 0;
      top: 0;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  } 

  &__link {
    color: #1682c0;
  }
}


.section {
  position: relative;
  padding:70px 0;
  background-color: #f2f5f8;
  
  
  transition: height 0.3s ease;
  
  .container {
    padding: 0 70px;

    @media @not-desktop {
      padding: 0 30px;  
    }

    @media @mobiles {
      padding: 0 20px !important;      
    }


  }
  
  &--page {
    padding: 30px 0 120px 0;
  }
  &--page-sm {
    padding: 30px 0 80px 0;
  }
  &--white {
    background-color: #ffffff;
  }

  &--green {
    background-image: linear-gradient(180deg, #01bea5 0%, #02a9b7 100%);
    color: #ffffff !important;
  }
  
  &__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    margin-top: 0;

    @media @mobiles {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size:16px;
    line-height: 26px;
    font-weight: 200px;

    &--mb {
      margin-bottom: 40px;
      margin-bottom: 32px;
    }

    &--big {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__readmore {
    visibility: hidden;
    opacity: 0;
    height: 0;

    transition: all 0.3s ease;

    &--active {
      visibility: visible;
      opacity: 1;
      height: auto;
    }
  }

  @media @mobiles {
    padding: 50px 0;

    &--page {
      padding: 30px 0;
    }
  }


}

.page {
  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    
    margin-top: 20px;
    margin-bottom: 20px;

    @media @mobiles {
      font-size: 30px;
      line-height: 42px;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  &__info {

  }

  &__image {
    
    text-align: right;
  
    @media @not-desktop {
      display: none;
    }
  }
}





/* LISTS */

.list {
  list-style: none;

  margin-top: 0;
  padding-left: 0;
  margin-bottom: 25px;
  
  line-height: 30px;

  &--info {
    font-size:16px;
  }
  
 
  &__item {
    position: relative;
    &:before {
      position: absolute;
      left: -25px;
      
    }

    &--icon-circle:before {
      content:'↻';
      color:#0b80c3;
    }
    
    &--icon-percent:before {
      content:'%';
      color:#02B3AF;
    }
    
  }
  
  &--dash {
    padding-left: 25px;

    .list__item {
      &:before {
        content:'—';
        position: absolute;
        left: -25px;
      }
    } 
  }
  
  &--dash-green {
    padding-left: 25px;

    .list__item {
      &:before {
        content:'—';
        position: absolute;
        left: -25px;
        color:#0b80c3;
        
      }
    } 
  }
  
  &--icons {
    padding-left: 25px;
  }



  &__link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    line-height: 28px;

    text-decoration: none;
    
    border-bottom: 1px dashed transparent;

    transition: border-color 0.3s ease;
    &:hover,&:active {
      border-bottom: 1px dashed #ffffff;
    }
  }


}


/* TABLE */

.table {
  width: 100%;
  
  margin-bottom: 50px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  
  @media @mobiles {
    width: auto;
    box-shadow: none;
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;

  }

  &__body {
    overflow-y:scroll;
    height:550px;
  }

  &__footer {
    .table__row {
      background-color: #ffffff !important;
      box-shadow: 0 1px 0 rgba(153, 153, 153, 0.1), 0 -1px 4px rgba(0, 0, 0, 0.27);
    }

    .table__cell {
      padding: 25px 5px;

      @media @tablet {
        .btn {
          padding:0 !important;
        }
      }
    }

    @media @mobiles {
      display: none;
    }
  }
  
  &__cell {
    display: inline-block;
    
    font-size: 16px;
    vertical-align: middle;
    padding:25px;
    
    @media @mobiles {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    font-size: 0;
    
    &:nth-child(2n+1) {
      background-color: #f2f5f8;
    }
  
    &--head {
      color:#ffffff;
      font-weight: bold;
      background-color: #02a9b7 !important;
    }


    @media @mobiles {
      display: block;
    }
  }

  &__info {
    text-align: center;
    font-size: 14px;
  }
}

.row {

  

  &__title {
    width: 60%;
    cursor: pointer;
    .table__cell {
      text-align: left;
    }

  }

  &__body {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    @media @mobiles {
      display: block;
      margin-top: -5px;
      margin-bottom: 15px;
    }
    .table__cell {
      text-align: center;
      width: 33.3333%;

      @media @mobiles {
        text-align: left;
        width: 100%;
        padding: 0 25px;
        margin-bottom: 15px;
      }
    }
    
    

    @media @mobiles {
      max-height: 0;
      transition: max-height 0.25s ease-out;
      overflow: hidden;
    }

    &.active {
      max-height: 500px;
      transition: max-height 0.35s ease-in;
    }
  }




  &__title, &__body {
    display: inline-block;

    @media @mobiles {
      display: block;
      width: 100%;
    }
  }
}

@media @mobiles {
  .hidden-xs {
    display: none;
  }
}



/* BUTTONS */

.btn {
  display: block;
  
  height: 50px;
  
  padding: 0 30px;

  border:none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  
  cursor: pointer;
  
  transition: background-color 0.3s ease;

  &--orange {
    background-color: #ff7959;
    &:hover {
      background-color: #ff947a;
    }
  }

  &--green {
    background-color: #02a9b7;
    &:hover {
      background-color: rgba(2, 169, 183, 0.9);
    }
  }

 

  &--inline {
    display: inline-block;
    width: auto;
  }

  &--tr {
    border: 1px solid #ffffff;
    background-color: transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  
  &--200 {
    width: 200px;
  }

  &--280 {
    width: 280px;
    @media @mobiles {
      width: auto;
    }
  }

  &--callback {
    border:none;
    box-shadow: none;

    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;

    background-image: url('../img/callback.png');
    background-repeat: no-repeat;
    background-position: center;

    vertical-align: middle;

  }

  &--cart {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    background-position: center;    
  }
}



/* CUSTOM */

.checked {
  position: relative;

  cursor:pointer;
  font-size: 0;
  
  padding-left: 40px;

  &:before {
    content: '';
    position: absolute;

    width: 20px;
    height: 20px;
    background-image: url('../img/checked.png');
    background-position: center;
    background-repeat: no-repeat;
    
    left: 20px;
    top: -16px;
  }
  
  @media @mobiles {
    font-size: 16px;
    padding: 0 0 0 40px;
    width: auto;
    height: auto;

    &:before {
      top:0;
      left: 0;
    }
  }
}




/* CONFIG */

.config {
  position: relative;

  min-height: 300px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;


  &::after {
    display: block;
    content: "";
    clear: both;
  }
  
  &__title {
    height: 60px;
    line-height: 60px;

    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    
    margin-left: -34px;
    margin-right: -34px;
    
    margin-bottom: 30px;
    
    background-image: linear-gradient(135deg, #01baa8 0%, #02a9b7 100%);

    @media @mobiles {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  
  &__types {
    min-height: 110px;
    margin-bottom: 30px;
  }

  &__price {
    float: left;

    font-size: 20px;
    font-weight: 700;
    
    line-height: 50px;
    @media @desktop {
      float: none;
      text-align: center;
    }
  }

  &__btn {
    width: auto;
    float: right;

    @media @desktop {
      float: none;
      text-align: center;
    }
  }

  @media @mobile-xs {
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
    
    padding: 30px 20px;
  }
  
  @media @mobiles {
    margin-bottom: 15px;
  }

  @media @tablet {
    margin-bottom: 15px;
  }
}




/* RADIO */

.radioblock {
  &__item {
    position: relative;
    padding-left: 35px;

    font-size: 14px;
    font-weight: 400;
    line-height: 36px;

    cursor:pointer;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;

      width: 20px;
      height: 20px;
      border: 1px solid #979797;
      border-radius: 10px;
      z-index: 1;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 12px;

      width: 12px;
      height: 12px;
      background-color: #ffffff;
      border-radius: 6px;
      z-index: 2;

      transition:background-color 0.3s ease;
    }

    &--active, &:hover {
      &:after {
        background-color: #ff7959;
      }
    }
  }

  &__input {

  }
}





/* footer links */
.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  
  
  margin-bottom: 70px;

  @media @tablet {
    justify-content: space-around;
  }
  @media @mobiles {
    display: block;
  }
}

.links {
  min-width: 160px;
  @media @mobiles {
    text-align: center;
  }
  
  &__title {
    color: #16a69f;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  &__list {

  }

}




.info {
  @media @mobiles {
    text-align: center;
    margin-bottom: 30px;
  }

  &__title {
    color: #16a69f;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    color:#ffffff;
    font-weight: 200;
    line-height: 30px;
  }
}


.copyright {
  font-weight: 400;
  
  &__text {
    color: #5f5f5f;
    font-size: 14px;
    color: #169a83;
    color: #5f5f59;
  }

  &__link {
    color: #16a69f;
  }

  @media @mobiles {
    text-align: center;

    &__link,&__text {
      display: block;
      margin-bottom: 5px;
    }
  }
}

.develop {
  float: right;
  color: #ffffff;

  @media @mobiles {
    float: none;
    margin-top: 15px;
  }
}



/* ADVANTAGES */

.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  padding-top:40px;

  @media @mobiles {
    flex-direction:column;
  }
}

.advantage {
  position: relative;

  margin-right: 20px;

  padding: 45px 30px 30px 30px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f2f5f8;
    

  &:last-child {
    margin-right: 0;
  }
  &__title {
    position: absolute;

    width: 150px;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    background-color: #ffffff;

    text-align: center;
    line-height: 80px;


    color: #149aa8;
    font-size: 30px;
    font-weight: 400;

    top:-40px;
    left: 0;
    right: 0;

    margin: auto;
  }

  &__text {
    color: #333333;
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    
    text-align: center;    
  }


  @media @mobiles {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
    
    &:last-child {
      margin-right: 0;
    }

  }
}




/* DELIVERY */


.delivery {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  
  padding: 40px 45px;
  
  &__title {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 12px;

    @media @mobile-xs {
      line-height: 26px;
    }
  }

  &:before {
    content:'';
    position: absolute;

    top: 30px;
    right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 50px;
    height: 50px;
  }

  &--rocket {
    &:before {
      background-image: url('../img/rocket.png');
    }
  }


  &--box { 
    &:before {
      background-image: url('../img/package.png');
    }
  }

  @media @mobiles {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;

    .list {
      text-align: left;
    }
    &:before {
      content: none;
    }
  }

  @media @tablet {
    padding: 20px 25px;
    &:before {
      top:15px;
      right: 15px;
    }
  }

  @media @mobiles {
    padding: 20px 25px;
  }

}


/* ACCOMPS */

.accomps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  
  
  margin-bottom: 35px;

  @media @tablet {
    justify-content: space-around;
  }
  @media @mobile-xs {
    display: block;
  }

  &__info {
    text-align: center;
  }
}

.accomp {
  position: relative;
  
  margin-bottom: 15px;

  padding: 30px 15px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;  
  
  width: 235px;
  height: 235px;

  text-align: center;
  
  @media @mobiles {
    
    margin-left: auto;
    margin-right: auto;

  }
  &__title {
    font-size: 16px;
    text-align: center;  
  }

  &__icon {
    margin-top: 30px;
    margin-bottom: 30px;
    img {
      height: 60px;
      width: auto;
    }
  }

}





/* FIELDS */

.input {
  width: 100%;
  height: 50px;

  line-height: 50px;
  
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #ffffff;
  
  transition: border 0.3s ease;

  font-size: 14px;

  &--grey {
    background-color:  #f2f5f8;;
  }

  &--error {
    border:1px solid #bc0101;
  }
  &--success {
    border:1px solid #01bca7;
  }
  

  &--search {
    height: 30px;
  }
  

  &.used + .input-group__label, 
  &:active + .input-group__label, 
  &:focus + .input-group__label {
    top: -18px;
    left: 25px;
    font-size: 12px;
  }

  @media @mobiles {
    margin-bottom: 15px;
  }
}



/* IMAGES */

.img {
  &--responsive {
    width: 100%;
    height: auto;
  }

  &--auto {
    width: auto;
  }
}

/* capabilities */
.capabilities {
  list-style: none;
  padding: 0;
  
  margin-bottom: 55px;
  margin-top: 40px;

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  &__item {
    position: relative;
    padding-left: 65px;
    font-size: 16px;
    font-weight: 400;
    
    
    width: 50%; 
    float: left;
    height: 40px;
    line-height: 40px;
    
    margin-bottom: 15px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(1) { &:before { background-image: url('../img/cap-1.png'); }}
    &:nth-child(2) { &:before { background-image: url('../img/cap-2.png'); }}
    &:nth-child(3) { &:before { background-image: url('../img/cap-3.png'); }}
    &:nth-child(4) { &:before { background-image: url('../img/cap-4.png'); }}
    &:nth-child(5) { &:before { background-image: url('../img/cap-5.png'); }}
    &:nth-child(6) { &:before { background-image: url('../img/cap-6.png'); }}
    &:nth-child(7) { &:before { background-image: url('../img/cap-7.png'); }}
    &:nth-child(8) { &:before { background-image: url('../img/cap-8.png'); }}
    &:nth-child(9) { &:before { background-image: url('../img/cap-9.png'); }}
    &:nth-child(10) { &:before { background-image: url('../img/cap-10.png'); }}
    &:nth-child(11) { &:before { background-image: url('../img/cap-11.png'); }}
    &:nth-child(12) { &:before { background-image: url('../img/cap-12.png'); }}
    &:nth-child(13) { &:before { background-image: url('../img/cap-13.png'); }}
    &:nth-child(14) { &:before { background-image: url('../img/cap-14.png'); }}
    


    @media @mobiles {
      width: 100%;
      float: none;
      height: 40px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

/* FORMS */
.form {
  &--white {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;

    padding: 30px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #2d3e50;
    margin: 0;

    @media @mobiles {
      margin-bottom: 15px;
    }
  }
}



.popup {
  &__bg {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    z-index: 2000;
    
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.3s ease;

    &--active {
      visibility: visible;
      opacity: 1;
      .popup__closer {
        display: block;
      }
    }

  }

  position: fixed;
  width: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 150px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;

  z-index: 2201;
  overflow: hidden;
  

  &__header {
    padding: 30px 40px;
    background-color: #02a9b7;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color:#ffffff;
  }
  &__body {
    padding: 40px;
  }
  
  visibility: hidden;
  opacity: 0;
  
  transition: opacity 0.3s ease;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__closer {
    position: absolute;
    right: 40px;
    top: 33px;
    display: none;
  }
}


.closer {
  width:12px;
  height:12px;
  display:block;
  float:right;
  position:relative;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#ffffff;
  border-radius:2px;
  
  transition: transform .3s ease-out;
  cursor:pointer;

  &:hover{
    background:#FF7959;
    transform: rotate(180deg);
  }

  b {
    display:block;
    position:absolute;
    height:0;
    width:0;
    padding:0;
    margin:0;
    border:solid 6px rgba(255,255,255,0);
  }

  b:nth-child(1){
    border-top-color:#02A9B7;
    top:-2px;
  }
  
  b:nth-child(2){
    border-left-color:#02A9B7;
    left:-2px;
  }
  
  b:nth-child(3){
    border-bottom-color:#02A9B7;
    bottom:-2px;
  }
  
  b:nth-child(4){
    border-right-color:#02A9B7;
    right:-2px;
  }
}





.input-group {
  position: relative;
  margin-bottom: 35px;

  &__label {

    position: absolute;
    left: 15px;
    z-index: 1;
    transition: all .3s ease;
    top: 15px;
    color: #000000;
    font-weight: 200;
  }


}



/* SELECT */


.parallax {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  
  &--1 {
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: cover;
    background-image: url("../img/ovals.png");
    position: absolute;
  }
  
  &--2 {
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: cover;
    background-image: url("../img/ovals-small.png");
    position: absolute;
  }
}




/* TYPOGRAPHY */
.phone {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 15px;
  line-height: 40px;
  vertical-align: middle;
  span {
    color: #17b394;
  }
}


.configs {
  margin-bottom: 50px;
}
/* TIPS */

.tips {
  text-align: center;
}
.tip {
  display: inline-block;
  position: relative;

  height: 50px;
  
  
  padding-left: 60px;
  padding-right: 30px;

  font-size: 16px;
  font-weight: 200;
  

  background-color: #FFFFFF;
  border-radius: 50px;
  
  color: #2d3e50;
  text-decoration: none;

  margin-right: 20px;
  
  padding-top: 15px;
  padding-bottom: 15px;

  cursor: pointer;

  &__text {
    line-height: 20px;
    border-bottom: 1px dashed #2d3e50;
  }

  @media @mobile-xs {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 0 30px 0 50px;
  }

  &__help {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    background: #FFFFFF;
    z-index: 99;
    font-size: 14px;
    line-height: 18px;
    width: 300px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    top:-115px;
    right: -150px;

    &:before {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      bottom: -9px;
      left: 15px;
      z-index: -2;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &:after {
      content: " ";
      position: absolute;
      left: 10px;
      bottom: -30px;
      border: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-top: 15px solid #FFFFFF;
    }
  }

  &__inner {
    background-color: #ffffff;
    display: block;
    padding: 15px;
  }

  &:hover {
    
    .tip__help {
      opacity: 1;
      visibility: visible;
    }
  }

  &:before {
    content: '';
    position: absolute;

    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;

    left: 15px;
    top:10px;
  }

  &--gear {
    &:before {
      background-image: url('../img/gears.png');
    }
  }

  &--settings {
    &:before {
      background-image: url('../img/settings.png');
    }
  }
  &--gift {
    &:before {
      background-image: url('../img/gift.png');
    }
  }
}

.baron._simple .baron__track {
  background-color: darken(#f2f5f8, 10%);
}





.search {

  &__toggler {
    width: 20px;
    height: 20px;

    background-image: url('../img/search.png');
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  &__input {
    width: 0px;
    opacity: 0;
    z-index: -1;

    position: absolute;
    right: 30px;
    top:10px;
    transition: all 0.3s ease;
  }

  &--active {
    .search__input {
      width: 200px;
      opacity: 1;
      z-index: 1;
    }
  }
}




/************* SECOND PAGE STYLES *******************/

.products {


  &__item {
    position: relative;
    background-color: #FFFFFF;

    color:#2d3e50;
    font-size: 16px;
    padding: 30px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    margin-bottom: 20px;
    padding-right: 180px;
    &:last-child {
      margin-bottom: 0;
    }

    @media @mobiles {
      text-align: center;
      padding-right: 0;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    
  }

  &__text {
    font-weight: 200;
    @media @mobiles {
      margin-bottom: 15px;
    }
  }

  &__btn {
    position: absolute;
    right: 30px;
    top: 25px;
    width: 150px;
    @media @mobiles {
      position: relative;
      display: inline-block;
    }
  }
}

.tiles {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex; 
  flex-wrap: wrap;
  
  @media @mobiles {
    display: block;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    

    width: 33.33%;
    min-height: 170px;
    padding: 15px;
    color: #222f3f;
    font-size: 20px;
    font-weight: 700;
    

    text-decoration: none;
  
    background-color: #f2f5f8;
    

    cursor: pointer;
    border-color: #a9acaf;
    border-style: solid;
    border-width:  0  1px 1px  0;
    

    &:hover {
      background-color: #ffffff;
    }


    @media @mobiles {
      display: block;
      width: 100%;
      height: auto;
      padding: 15px 30px;
      font-size: 16px;

      min-height: auto;
    }
  }
}

.licenses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  align-items: stretch;
  align-content: stretch;
    
  margin-bottom: 70px;

  @media @mobiles {
    display: block;
    text-align: center;
  }
}
.license {
  width: 235px;
    
  padding: 20px 30px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f2f5f8;
  margin-right: 15px;
  margin-bottom: 15px;
  @media @mobiles {
    display: inline-block;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    color:#ffffff;

    padding: 15px 30px;
    text-align: center;

    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 20px;
    
    background-image: linear-gradient(135deg, #01baa8 0%, #02a9b7 100%);

    
  }
  
  &__desc {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  &__price {  
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    float: left;
    vertical-align: middle;
  }
  
  &__desc {
    margin-bottom: 20px;
  }

  &__btn {
    float: right;
    vertical-align: middle;
  }

  &__info {
    color: #4b4b4b;
    font-size: 12px;
    font-style: italic;
    line-height: 25px;
    text-align: center;
  }
}